<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta charset="utf-8" />
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/style/bootstrap.css" rel="stylesheet" />
        <link href="/style/style.css" rel="stylesheet" />
        <link href="/style/blue.css" rel="stylesheet" />
        <link href="/style/bluepits.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="row">
                            <div class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0">
                                <a href="/" id="logo">
                                    <img src="/img/blue-pits-housing-action.png" alt="Blue Pits Housing Action" style="aspect-ratio: 452/127" class="img-block" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5" id="HeaderRight">
                        <div class="list">
                                <div class="phone">
                                    <i class="icon-phone"></i>
                                    <strong>Phone:</strong> 01706 345886
                                </div>
                                <hr class="hidden-xs" />
                                <div class="email">
                                    <i class="icon-envelope-alt"></i>
                                    <strong>Email:</strong> <a href="mailto:bluepitshousingaction@gmail.com">bluepitshousingaction@gmail.com</a>
                                </div>
                            <hr />
                            <div class="address">
                                <i class="icon-home"></i>
                                <strong>Address:</strong> 169 Drake Street, Rochdale, OL11 1EF
                            </div>
                        </div>
                        <div class="row" id="header-logos">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <img src="/img/investors-in-people.png" style="aspect-ratio: 150/45;" alt="Investors in People logo" />
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <img src="/img/health-and-wellbeing.png" style="aspect-ratio: 150/45;" alt="Investors in People Good Practice Health &amp; Wellbeing Award" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="navbar bs-docs-nav" role="banner">
            <div class="container">
                <nav role="navigation" id="NavBar">
                    <ul class="nav navbar-nav">
                        {% assign sorted_pages = site.pages| sort: 'top_links_order' %}
                        {% for link in sorted_pages %}
                            {% if link.top_links_name %}
                                <li
                                    {% if page.url == link.url %}
                                        class="active"
                                    {% endif %}
                                    >
                                    <a title="{{ link.title }}"
                                        href="{{ link.url }}">
                                        {{ link.top_links_name }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
        <div class="container" id="main-container">
            <div class="row">
                <div class="col-md-8 content">
                    {{ content }}
                </div>
                <div class="col-md-4">
                    <div class="sidebar content">
                        {% if page.title == "Activity Groups" %}
                            <div class="widget">
                                <h4>Jump to Activity</h4>
                                <ul>
                                    <li><a href="#arts-and-crafts">Arts and Crafts</a></li>
                                    <li><a href="#bowling">Bowling</a></li>
                                    <li><a href="#computers">Computers</a></li>
                                    <li><a href="#cooking">Cooking</a></li>
                                    <li><a href="#exercise">Exercise</a></li>
                                    <li><a href="#gardening">Gardening</a></li>
                                    <li><a href="#karaoke">Karaoke</a></li>
                                    <li><a href="#key-skills">Key Skills</a></li>
                                    <li><a href="#music-groups">Music Groups</a></li>
                                </ul>
                            </div>
                        {% elsif page.title == "Board of Directors" %}
                            <div class="widget">
                                <h4>Jump to Director</h4>
                                <ul>
                                    <li><a href="#lynn-collins">Lynn Collins</a></li>
                                    <li><a href="#philip-traynor---chair">Philip Traynor</a></li>
                                    <li><a href="#kathleen-ince">Kathleen Ince</a></li>
                                    <li><a href="#pete-ruddy">Pete Ruddy</a></li>
                                    <li><a href="#sarah-jayne-anderson">Sarah-Jayne Anderson</a></li>
                                    <li><a href="#christine-ince">Christine Ince</a></li>
                                </ul>
                            </div>
                        {% elsif page.title == "Lead Team" %}
                            <div class="widget">
                                <h4>Jump to Team Member</h4>
                                <ul>
                                    <li><a href="#lynn-collins">Lynn Collins</a></li>
                                    <li><a href="#vicky-chanter">Vicky Chanter</a></li>
                                </ul>
                            </div>
                        {% endif %}
                        <div class="widget">
                            <script type="text/javascript" src="https://www.cqc.org.uk/sites/all/modules/custom/cqc_widget/widget.js?data-id=1-2693034270&data-host=www.cqc.org.uk&type=location"></script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="widget">
                            <h3>Blue Pits Housing Action</h3>
                            <p>An inclusive, client needs-led, high quality <strong>accommodation and support service</strong> that promotes social inclusion and enables vulnerable adults to achieve their full potential.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-4">
                        <div class="widget">
                            <h4>Associated Busineses</h4>
                            <ul>
                                <li><a href="https://newbarnltd.co.uk" target="_blank">Newbarn Ltd</a></li>
                                <li><a href="https://freeholdcottage.com" target="_blank">Freehold Cottage</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <p class="pull-left">
                            Copyright &copy; Blue Pits Housing Action - Charity #1154280
                        </p>
                        <p class="pull-right">
                            <a href="http://opencorporates.com/companies/gb/07825886" target="_blank" title="Blue Pits Housing Action on OpenCorporates.org">OpenCorporates.org</a>
                        </p>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>